body{
    width: 100%;
    height: auto;
}

label{
    left: 20%;
}

#add{
    left: 40%;
    border-radius: 50px;
    border-style: none;
    transition: 1s;
}

#minus{
    left: 55%;
    border-radius: 50px;
    border-style: none;
    transition: 1s;
}
#add:hover{
    color: white;
    background-color: black;
}

#minus:hover{
    color: white;
    background-color: black;
}

#quantity{
    position: absolute;
    text-align: justify;
}

#wrap{
    padding: 2%;
    text-align: center;
    width: 100%;  
    
}

#wrap1, #wrap2{
    display: inline-block;
    margin: 0;
    padding: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
}

#contents{
    background-image: linear-gradient(to right, rgb(255, 183, 183),rgb(255, 124, 124));
    border-radius: 50px;
    width: 500px;
    height: 600px;
}

p{
    margin: 20px;
}


#Details{
    background-image: linear-gradient(to right, rgb(255, 183, 183),rgb(255, 124, 124));
    border-radius: 50px;
    width: 500px;
    height: 600px;
}

#Details p{
    padding: 20px;
    text-align: justify;
}


#check{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    transition: 1s;
}

#check:hover{
    color: white;
    background-color: rgb(44, 44, 44);
    transform: scale(1.1);
}

#checks{
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to right, rgb(255, 183, 183),rgb(255, 124, 124));
    border-style: none;
    border-radius: 50px;
    top: 100px;
    left: 400px;
    align-items: center;
    text-align: center;
}